header{
    border-bottom:1px solid gray;
}
nav{
    border-right:1px solid gray;
    width:120px;
}
main{display:flex;}
nav{
    flex-basis: 120px;
    flex-grow:0;
    flex-shrink:0;
}
article{
    flex-grow: 1;
    flex-shrink: 1;
}